extends layout

block content
  h1= title

  - let kites = results
  - let create = `dispatch(\"/kite/create\")`
  button.btn( class="btn-primary ml-1", onclick= create) Create
  div(class="container-fluid mt-3")
    div(class="row m-1")
      each kite,index in kites
        - let destination = `dispatch(\"/kite/update?id=${kite._id}\")`
        - let detail = `dispatch(\"/kite/detail/?id=${kite._id}")`
        - let deleteItem = `dispatch(\"/kite/delete/?id=${kite._id}")`       
        div(class="col-sm-2", class="m-1")  #{kite.kiteName} -  #{kite.kiteCost} - #{kite.quantityAvailable} 

          p 
          button.btn( class="btn-secondary ml-1", onclick= destination) Update
          p 
          button.btn( class="btn-info ml-1", onclick= detail) Detail
          p 
          button.btn( class="btn-warning ml-1", onclick= deleteItem) Delete     
    script.
      function dispatch(path){
        window.location.href=path
      }


