extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance
    else
        - let kiteid = toShow._id
        - let kiteName = toShow.kiteName
        - let kiteCost = toShow.kiteCost
        - let quantityAvailable = toShow.quantityAvailable
        div(class="container")
            div.row(class="row")
                div(class='kiteAttr mr-3') Kite ID is:
                div(class="col-sm") #{kiteid}
            p    
            div.row(class="row")
                div(class='kiteAttr mr-3') Kite Name is:
                div(class="col-sm") #{kiteName}
            p    
            div.row(class="row")
                div(class='kiteAttr mr-3') Kite Cost is:
                div(class="col-sm") #{kiteCost}
            p    
            div.row(class="row")
                div(class='kiteAttr mr-3') Quantity Available is:
                div(class="col-sm") #{quantityAvailable}